body {
  background-color: azure;
}

.header {
  text-align: center;
  background-color: rgb(12, 93, 58);
  font-weight: 100;
  color: rgb(251, 251, 251);
  padding: 10px;
}

/* Button in the header of the document */
.dropdown {
      display: inline-flex;
      float: right;
      padding: 5px 10px;
      border: 2px solid #FFF;
}

.dropdown:hover {
      background: #000;
      color: #FFF;
}