body {
    background-color: bisque;
}

/* '!importart! property is used to override any other styling rules */
.header {
    color: white !important; 
    background-color: purple !important;
}

.container{
    padding: 0.1em;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 5px;
    margin-right: 5px;
}